*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.dll
*.pdb
*.txt
*.suo
*.exe.config
*.exe.manifest
!README.txt
!lib/*.dll
*.xml
Debug/
Release/
packages/
/SingleSignOn.Auth/bin
/SingleSignOn.Forms/bin
/SingleSignOn.Windows/bin
/RelyingParty2/RelyingParty2.csproj.user
/*/.vs/
/*/bin/*
[Bb]in/
[Oo]bj/
